/* unvisited link */
a:link {
  color: red;
}

/* visited link */
a:visited {
  color: green;
	
}

/* mouse over link */
a:hover {
  color: hotpink;
	cursor: crosshair;
}

/* selected link */
a:active {
  color: blue;
}

.under {
  text-decoration: underline red;
}

.over {
  text-decoration: wavy overline lime;
}

.line {
  text-decoration: line-through;
}

.plain {
  text-decoration: none;
}

.underover {
  text-decoration: dashed underline overline;
}

.thick {
  text-decoration: solid underline purple 4px;
}

.blink {
  text-decoration: blink;
}